/* Kalp stilini güncelleme */
.heart {
  position: absolute;
  font-size: 2em;
  animation: confetti 3s ease-in-out infinite;
  opacity: 0;
  animation-delay: 1s; /* Rastgele gecikmeler */
}

/* Konfeti animasyonu ile kalpleri ekranın her yerine yayma */
@keyframes confetti {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--random-x), var(--random-y)) scale(0.5); /* X ve Y rastgele yönler */
  }
}



